*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body, html{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

header, section{
    overflow-x: hidden;
}

header a{
    color:  #6ED57E;
    font-size: 0.9em;
}


.about-header {
    height: auto;
}

header .nav-item:last-child{
    padding-right: 7.9em;
}

header.nav-item{
    padding: 0.9em;
}

header .navbar-brand{
    padding-left: 6.5em;
}

header .nav-link:hover{
    color: white;
}

header .row .col-md-5{
    padding: 7.2vmin 1vmin;
}

header .row .col-md-7{
    padding: 25vmin 1vmin;
    padding-bottom: 35vmin;
}

header .navbar{
    height: 70px;
}

.set{
    margin-right: 8em;
    margin-left: 1em;
    background: #6ED57E;
    color: white;
    border: none;
    height: 40px;
    width: 152px;
    border-radius: 8px;
    font-size: 14px;
}

.set:hover{
    background: #6ED57E;
}

header h1{
    color: white;
    font-size: 64px;
    font-weight: bold;
    line-height: 96px;
    margin-left: 120px;
    margin-top: 200px;
}

.mg{
    margin-top: 85px;
    width: 570px;
    margin-left: -110px;
}

.md{
    z-index: 1;
    position: absolute;
    width: 190%;
    height: 700px;
    top: 130px;
    right: 2px;
}

header .p1{
    color: white;
    font-size: 24px;
    margin-top: 25px;
    font-weight: 380;
    margin-left: 120px;
}

header p{
    color: #6ED57E;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 120px;
}

header .second-click{
    margin-left: 20px;
}

.second-click, .first-click{
    margin-left: 120px;
}

header .second-click:hover{
    cursor: pointer;
}

header .first-click:hover{
    cursor: pointer;
}

.section-1{
    padding: 10vmin 0;
}

.section-1 .pray h1{
    font-size: 56px;
    color: #003334;
    line-height: 48px;
    text-align: center;

}


.section-1 .pray p{
    font-size: 32px;
    line-height: 48px;
    color: #003334;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

 hr{
    width: 40%;
    margin: auto;
}

.phone{
    padding: 10vmin 0;
    margin-left: 105px;
    width: 1600px;
}

.section-2{
    padding: 1vmin 0;
}

.second{
    text-align: center;
    font-size: 56px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 30px;
}

.pra p{
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    margin-top: 30px;
}


.card img{
    
    border-radius: 12%;
    margin: 0 auto;
    padding: 10px;
}

.card{
    padding: 1.5em .5em .5em;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card-title{
    font-weight: 700;
    font-size: 1.8em;
}

.card .card-text{
    font-size: 16px;
    padding-top: 5px;
    font-weight: 430;
}

footer{
    height: 45vh;
    width: 100%;
    background: #003334;
    margin-top: 120px;
}

.input-group{
    margin-top: 55px;
}

.input-group .form-control{
    height: 55px;
    border-radius:6px;
    box-shadow: none!important;
}

.btn{
    width: 130px;
}

.btn-success{
    background: #6ED57E !important;
    border-radius: 5px !important;
    box-shadow: none !important;
}

.footer-new{
    margin-top: 55px;
}

.footer-new p{
    color: white;
    margin-left: 55px;
    font-size: 37px;
}

.footer-1{
    text-align: center;
    color: #6ED57E;
    font-size: 17px;
    padding-top: 25px;
}

.footer-2{
    text-align: center;
    color: white;
    font-size: 20px;
    
}

footer hr{
    width: 100%;
    background: #6ED57E;
    margin-top: 40px;
}

.icon{
    padding-top: 30px;

}


.icon a{
    padding: 6px;
    border-radius: 60px;
    background: #6ED57E;
    margin: 5px;
}

.icon i{
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
    color: #003334;
}












